{% extends 'base.html.twig' %}

{% block title %}Nouvel éditeur{% endblock %}

{% block body %}
<h2>Ajouter un éditeur</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}{% endblock %}
