{% extends 'base.html.twig' %}

{% block title %}Kotéjeux - Éditeurs{% endblock %}

{% block body %}

<h2>Liste des éditeurs</h2>
<div>
    <table>
    {% for editeur in editeurs %}
    <tr>
        <th>{{ editeur.name }}</th>
        <th><a href="/editeur/{{ editeur.id }}">Détails</a></th>
    </tr>
    {% endfor %}
    </table>
    <a href="/editeur/add">Ajouter un éditeur</a>
</div>
{% endblock %}
