{% extends 'base.html.twig' %}

{% block body %}

{% block sidebar %}{% endblock %}
<h2>{{ editeur_name }}</h2>

<p>Nationalité : {{ editeur_nationalite }}</p>
<p>Année de création : {{ editeur_creation }}</p>

{% endblock %}
