{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
<h2>Ajouter un nouveau jeu</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}{% endblock %}
