{% extends 'base.html.twig' %}

{% block title %}Kotéjeux - Éditeurs{% endblock %}

{% block body %}

<h2>Liste des jeux</h2>
<div>
    <table>
    {% for jeu in jeux %}
    <tr>
        <th>{{ jeu.name }}</th>
        <th><a href="/jeu/{{ jeu.id }}">Détails</a></th>
    </tr>
    {% endfor %}
    </table>
    <a href="/jeu/add">Ajouter un jeu</a>
</div>
{% endblock %}
